/* FEATURES TABS */

.tabs {
    width: 100%;
    margin-bottom: 48px;
}

.tabs>li {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    transition: 0.4s;
}

.tabimages {
    width: 360px;
}

.tabrowdisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tabtextdisplay {
    padding: 15px;
    width: 25%;
    font-size: 20px;
    text-align: left;
}

@media (max-width: 600px) {
    .tabtextdisplay {
        width: 100%;
        text-align: center;
    }
}
