
/* ==================== Banner ==================== */
.secos-banner-container {
  padding: 2rem 2rem;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.secos-banner-container .left, .right {
  width: 50%;
}

.secos-banner-title {
  margin: 24px 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.25;
  background-image: linear-gradient(81deg, #5d20f6, #27b7f5, #42ffac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secos-banner-description {
  margin: 24px 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.25;
  background-image: linear-gradient(81deg, #8759ff, #3fc4fe, #42ffac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secos-banner-spec {
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}

.secos-banner-spec li {
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1em;
}

.secos-banner-spec li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(135, 89, 255);
}

.secos-support-platform {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0;
  line-height: 2;
}

.secos-support-icons {
  display: flex;
  margin-top: 12px;
  margin-left: 12px;
  width: 96px;
  height: 96px;}

.secos-support-icons span {
  margin-right: 20px;
}

.secos-banner-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 50%;
}

.secos-banner-explore-button {
  border-radius: 2em;
  min-width: 145px;
  color: #fff;
  background: #8759ff;
  position: relative;
  line-height: 1.5;
  text-align: center;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}

.secos-banner-explore-button:hover {
  background:  #b59af9;
  color: #fff;
  text-decoration: none;
}

.secos-banner-download-button {
  border-radius: 2em;
  min-width: 145px;
  color: #fff;
  background: #f5790deb;
  position: relative;
  line-height: 1.5;
  text-align: center;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}

.secos-banner-download-button:hover {
  background: #f8a256eb;
  color: #fff;
  text-decoration: none;
}

/* ==================== Module ==================== */
.secos-module-container {
  padding: 2rem 2rem;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

/* ==================== Target ==================== */
.secos-target-container {
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.secos-target-spec {
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}

.secos-target-spec li {
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1em;
}

.secos-target-spec li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(135, 89, 255);
}

/* ==================== All ==================== */
@media (max-width: 600px) {
  .secos-banner-container {
      flex-direction: column-reverse;
  }
  .secos-banner-container .left, .right {
      width: 100%;
  }
  .secos-module-container {
    flex-direction: column;
  }
  .secos-target-container {
    flex-direction: column;
  }
  .secos-target-container .middle {
    order: -1;
  }
}
