/* ==================== Banner ==================== */
.secos-banner-container {
  padding-top: 2rem;
  padding-bottom: 5rem;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.secos-banner-left {
  width: 40%;
}

.secos-banner-right {
  width: 55%;
}

/* .secos-banner-content-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
} */

.secos-banner-title {
  margin: 24px 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.25;
  background-image: linear-gradient(81deg, #5d20f6, #27b7f5, #42ffac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secos-banner-description {
  margin: 24px 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.25;
  background-image: linear-gradient(81deg, #8759ff, #3fc4fe, #42ffac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secos-banner-feature {
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}

.secos-banner-feature ul {
  margin: 0;
  padding: 0;
}

.secos-banner-feature li {
  font-size: 16px;
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.secos-banner-feature li::before {
  content: "";
  position: absolute;
  top: 0.7em;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(135, 89, 255);
}

.secos-banner-feature li::marker {
  font-size: 30px;
  vertical-align: middle;
}

.secos-banner-support-title {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0;
  line-height: 2;
}

.secos-banner-support-icons {
  display: flex;
  margin-top: 12px;
  margin-left: 12px;
  width: 96px;
  height: 96px;
}

.secos-banner-support-icons span {
  margin-right: 20px;
}

.secos-banner-button {
  padding-left: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}

.secos-banner-explore-button {
  border-radius: 2em;
  min-width: 145px;
  color: #fff;
  background: #8759ff;
  position: relative;
  line-height: 1.5;
  text-align: center;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}

.secos-banner-explore-button:hover {
  background: #b59af9;
  color: #fff;
  text-decoration: none;
}

.secos-banner-download-button {
  border-radius: 2em;
  min-width: 145px;
  color: #fff;
  background: #f5790deb;
  position: relative;
  line-height: 1.5;
  text-align: center;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}

.secos-banner-download-button:hover {
  background: #f8a256eb;
  color: #fff;
  text-decoration: none;
}

/* ==================== Form ==================== */
.secos-form-container {
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.secos-form-title {
  line-height: 3;
}

.secos-form-description {
  line-height: 2.5;
}

.secos-form-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.secos-form-content-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.secos-form-content-left,
.secos-form-content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secos-form-content-left-title,
.secos-form-content-right-title {
  align-items: center;
  line-height: 2;
}

.secos-form-feature ul {
  margin: 0;
  padding: 0;
}

.secos-form-feature li {
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1em;
}

.secos-form-feature li::before {
  content: "";
  position: absolute;
  top: 0.7em;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(135, 89, 255);
}

.secos-form-feature li::marker {
  font-size: 30px;
  vertical-align: middle;
}

/* ==================== Module ==================== */
.secos-module-container {
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.secos-module-title {
  line-height: 3;
}

.secos-module-description {
  line-height: 2.5;
}

.secos-module-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.secos-module-content-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.secos-module-content-left,
.secos-module-content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secos-module-content-left-title,
.secos-module-content-right-title {
  align-items: center;
  line-height: 2;
}

.secos-module-feature ul {
  margin: 0;
  padding: 0;
}

.secos-module-feature li {
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1em;
}

.secos-module-feature li::before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(135, 89, 255);
}

.secos-module-feature li::marker {
  font-size: 30px;
  vertical-align: middle;
}

/* ==================== Target ==================== */
.secos-target-container {
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.secos-target-title {
  line-height: 3;
}

.secos-target-description {
  line-height: 2.5;
}

.secos-target-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.secos-target-content-middle {
  margin: 0 30px;
}

.secos-target-content-left,
.secos-target-content-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secos-target-content-left-title,
.secos-target-content-right-title {
  align-items: center;
  line-height: 2;
}

.secos-target-content-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.secos-target-feature {
  font-size: 1em;
  font-weight: 500;
}

.secos-target-feature li {
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1em;
}

.secos-target-feature li::before {
  content: "";
  position: absolute;
  top: 0.7em;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(135, 89, 255);
}

/* ==================== All ==================== */
@media (max-width: 600px) {
  .secos-banner-container {
    flex-direction: column-reverse;
    max-width: 95%;
    padding-bottom: 0;
  }

  .secos-banner-left,
  .secos-banner-right {
    width: 100%;
  }
  
  .secos-form-container {
    flex-direction: column;
    max-width: 95%;
    padding-bottom: 0;
  }

  .secos-form-content {
    flex-direction: column;
  }

  .secos-form-content-left,
  .secos-form-content-right {
    width: 100%;
  }

  .secos-module-container {
    flex-direction: column;
    max-width: 95%;
    padding-bottom: 0;
  }

  .secos-module-content {
    flex-direction: column;
  }

  .secos-module-content-left,
  .secos-module-content-right {
    width: 100%;
  }

  .secos-target-container {
    flex-direction: column;
    max-width: 95%;
    padding-bottom: 0;
  }

  .secos-target-content {
    flex-direction: column;
  }

  .secos-target-content-middle {
    order: -1;
    width: 100%;
  }
  .secos-target-content-left,
  .secos-target-content-right {
    width: 100%;
  }
  .secos-target-content-middle {
    margin: 0;
  }
}
