/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
:root {

  /* Fonts var */
  /* --ifm-font-family-base: "comfortaa", cursive;
   --ifm-font-family: "montserrat", sans-serif;
   --ifm-font-family-monospace: "jetbrainsmono", monospace;
   --ifm-code-font-size: 100%;  */

  /* Primary */
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-color-primary-contrast-background: var(--ifm-color-primary);
  --ifm-color-primary-contrast-foreground: var(--ifm-color-secondary);

  /* Secondary */
  --ifm-color-secondary: #ebedf0;
  --ifm-color-secondary-lightest: #ffffff;
  --ifm-color-secondary-lighter: #ffffff;
  --ifm-color-secondary-light: #ffffff;
  --ifm-color-secondary-dark: #d0d5dc;
  --ifm-color-secondary-darker: #c2c8d1;
  --ifm-color-secondary-darkest: #9aa4b3;
  --ifm-color-secondary-contrast-background: var(--ifm-color-gray);
  --ifm-color-secondary-contrast-foreground: var(--ifm-color-secondary);

  /* Success */
  --ifm-color-success: #577018;
  --ifm-color-success-lightest: #68861d;
  --ifm-color-success-lighter: #64811c;
  --ifm-color-success-light: #607b1a;
  --ifm-color-success-dark: #4e6516;
  --ifm-color-success-darker: #4a5f14;
  --ifm-color-success-darkest: #3d4e11;
  --ifm-color-success-contrast-background: var(--ifm-color-success);
  --ifm-color-success-contrast-foreground: var(--ifm-color-secondary);

  /* Info */
  --ifm-color-info: #805D93;
  --ifm-color-info-lightest: #B39BBF;
  --ifm-color-info-lighter: #9270a4;
  --ifm-color-info-light: #8c68a0;
  --ifm-color-info-dark: #735484;
  --ifm-color-info-darker: #6d4f7d;
  --ifm-color-info-darkest: #5a4167;
  --ifm-color-info-contrast-background: var(--ifm-color-info);
  --ifm-color-info-contrast-foreground: var(--ifm-color-secondary);

  /* Warning */
  --ifm-color-warning: #E07931;
  --ifm-color-warning-lightest: #e79860;
  --ifm-color-warning-lighter: #e59055;
  --ifm-color-warning-light: #e48849;
  --ifm-color-warning-dark: #d66b20;
  --ifm-color-warning-darker: #ca651e;
  --ifm-color-warning-darkest: #a65319;
  --ifm-color-warning-contrast-background: var(--ifm-color-warning);
  --ifm-color-warning-contrast-foreground: var(--ifm-color-secondary);

  /* Danger */
  --ifm-color-danger: #B3433B;
  --ifm-color-danger-lightest: #c65951;
  --ifm-color-danger-lighter: #c4544b;
  --ifm-color-danger-light: #c14d44;
  --ifm-color-danger-dark: #a13c35;
  --ifm-color-danger-darker: #983932;
  --ifm-color-danger-darkest: #7d2f29;
  --ifm-color-danger-contrast-background: var(--ifm-color-danger);
  --ifm-color-danger-contrast-foreground: var(--ifm-color-secondary);

  /* White - black - gray */
  --ifm-color-white: #fff;
  --ifm-color-black: #000;
  --ifm-color-gray-0: var(--ifm-color-white);
  --ifm-color-gray-100: #f5f6f7;
  --ifm-color-gray-200: #ebedf0;
  --ifm-color-gray-300: #dadde1;
  --ifm-color-gray-400: #ccd0d5;
  --ifm-color-gray-500: #bec3c9;
  --ifm-color-gray-600: #8d949e;
  --ifm-color-gray-700: #606770;
  --ifm-color-gray-800: #444950;
  --ifm-color-gray-900: #1c1e21;
  --ifm-color-gray-1000: var(--ifm-color-black);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* variables dark theme */
html[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

html,
body {
  font-size: 18px;
}

/* ==================== Navbar ==================== */

/* ==================== Footer ==================== */

/* ==================== announcementBar ==================== */
div[class^='announcementBar_'] {
  font-weight: 500;
  /*
  --site-announcement-bar-stripe-color1: hsl(
    var(--site-primary-hue-saturation) 85%
  );
  --site-announcement-bar-stripe-color2: hsl(
    var(--site-primary-hue-saturation) 95%
  );
   */
  --site-announcement-bar-stripe-color1: #e8d7ff;
  --site-announcement-bar-stripe-color2: #ffe9d1;

  background: repeating-linear-gradient(35deg,
      var(--site-announcement-bar-stripe-color1),
      var(--site-announcement-bar-stripe-color1) 20px,
      var(--site-announcement-bar-stripe-color2) 10px,
      var(--site-announcement-bar-stripe-color2) 40px);
}

/* ==================== search ==================== */
[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg,
      var(--ifm-color-emphasis-200) 0%,
      var(--ifm-color-emphasis-100) 100%);
}
